@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F7F5;
  color: #37352F;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D3D1CB;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B6B4AE;
}
